@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* 🌟 Custom scrollbar for filters */
aside::-webkit-scrollbar {
  width: 6px;
}
aside::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* Tailwind gray-400 */
  border-radius: 4px;
}
aside::-webkit-scrollbar-track {
  background: transparent;
}

/* my learning */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
